$title-font: "pacifico", sans-serif;
$global-font: "latoregular", sans-serif;
$bold-font: "latobold", sans-serif;
$black-font: "latoblack", sans-serif;
$thin-font: "latolight", sans-serif;

$primary-color: #d0b17a;
$grey: #c7c7c7;