.order-detail {
    text-align: center;
    h2 {
        font-family: $black-font;
        font-size: 28px;
        margin: 50px 0;
    }
    div {
        font-family: $bold-font;
        font-size: 22px;
        margin: 50px 0;
    }
}