.header {
    font-family: $title-font;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 25px 15px 25px;
    &__heading {
        font-size: 36px;
        padding: 14px 0 0 0;
        a {
            color: $primary-color;
        }
    }
    &__icons {
        text-align: right;
        a:hover {
            color:$primary-color;
        }
    }
}
#header__icons__cart-count {
    position: relative;
    bottom: 5px;
    font-family: "latoblack", sans-serif;
    font-size: 18px;
}